body {
  font-family: 'Poppins', sans-serif!important;
  color: #393f4f;
  margin: 0;
	padding: 0;
}
nav.bar {
  background-color: #393f4f ;
  padding-bottom:20px;
  margin-bottom: 20px;
}
.headline {
  font-size: 32px;
  font-weight:bold;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  padding-bottom:20px;
  padding-top:20px;
}
.search {
  display:inline-flex;
  color: #c0c0c0;
  margin: 20px 150px;
  padding:0;
}
.searchby {
  font-weight:bold;
  font-size:18px;
  color:#ffffff;
}
.field {
  border-right:none;
  border-left:none;
  border-top:none;
  box-shadow: inset 0px 0px 0px 0px red;
}
label[for="date"] {
  padding-left:40px;
}
.searchButton {
  background-color: #ffffff;
    color: #393f4f;
    border: 2px solid #393f4f;
    font-size:16px;
    padding:10px 30px;
    border-radius: 0%;
}
.searchButton:hover {
  background-color: #c0c0c0;
   color: #393f4f;
   border: 2px solid #393f4f;
}
.month, .right, .left {
  display:inline-block;
  font-size: 22px;
  text-align: center;
  padding: 0 10px;
  cursor:pointer;
}
section#month_header {
  display:flex;
  justify-content: center;
  height: 100px;
}
.calendar {
  display:flex;
  flex-wrap:wrap;
  align-content:center;
  height:590px;
  width:708px;
  margin: 0 auto 50px auto;
}
.calendar > div{
  position:relative;
  width:100px;
  height:100px;
  border: 1px solid #ffffff;
  box-sizing:border-box;
}
.week_day {
  text-align: center;
  margin:0 auto;
  height:50px;
  padding:0 20px;
}
.week_day span {
  display:table-cell;
  vertical-align:bottom;
  height:inherit;
  margin:0 auto;
}

.white {
  background-color: #ffffff;
  color:#393f4f;
}
.black {
  background-color:#393f4f;
  color: #ffffff;
  text-align:right;
  padding:5px;
}

.event {
  position: absolute;
  font-size:12px;
  z-index: 1;
  box-sizing: border-box;
  padding:3px;
  cursor:pointer;
  margin: 0 auto;
  text-align: center;
}
.US {
  background-color:#32bd32 ;
}
.US:hover {
  background-color:#65d665;
}
.EU {
  background-color: #ff8d00;
}
.EU:hover {
  background-color:#ffa332;
}
.width1Day {
  width:90%;
}
.width2Days {
  width:190%;
}
.width3Days {
  width:290%;
}
.width4Days {
  width:290%;
}
/*#event_1 {
  position: absolute;
  width: 295%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_2 {
  position: absolute;
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  text-align: right;
}
#event_2_2 {
  position: absolute;
  width: 190%;
  z-index: 1;
  margin: 0 auto;
  text-align: left;
}
#event_3 {
  position: absolute;
  width: 193%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_4 {
  position: absolute;
  width: 290%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_5 {
  position: absolute;
  width: 190%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_6 {
  position: absolute;
  width: 290%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_8 {
  position: absolute;
  width: 290%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_9 {
  position: absolute;
  width: 290%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_10 {
  position: absolute;
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_11 {
  position: absolute;
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_12 {
  position: absolute;
  width: 295%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_13 {
  position: absolute;
  width: 195%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_14 {
  position: absolute;
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_15 {
  position: absolute;
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_15_2 {
  position: absolute;
  width: 190%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
#event_16 {
  position: absolute;
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}*/
.fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background:rgba(255,255,255,0.7);
    display: block;
    margin: auto;
}

button.close {
  position:fixed;
  right:0;
  top:0;
  margin:10px;
  color: red;
}

.nonDisplay {
  display: none!important;
}
.display {
  display: block!important;
}

.fullScreen img {
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 600px;
}
h1 {
  text-align:center;
}
.newDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #393f4f;
}
.registerForm {
  width:500px;
  height: 500px;
  border:1px solid #eeeeee;
  background-color: #ffffff;
  padding:30px;
  color: #909090;
}
.registerForm input {
  margin:10px;
  width: 200px;
}
.inputsGroup {
  margin:0 auto;
  padding: 50px 60px;
}
.inputsGroup input[type="email"] {
  margin-left: 55px;
}
input.formSubmit {
  margin: 20px 50px;
  background-color: #393f4f;
  color:#ffffff;
  padding:10px;
  border:1px solid #393f4f;
  font-size:18px;
}
input.formSubmit:hover {
  background-color: #ffffff;
  color:#393f4f;
  padding:10px;
  border:1px solid #393f4f;
}
.search input {
  height:42px;
  width:150px;
}
.search * {
  margin-left: 10px;
}
.search label {
  font-size:18px;
}
.searchButton {
  margin-right: 0;
  margin-left: 50px;
  background-color: #ffffff;
  color: #393f4f;
  border: 2px solid #ffffff;
  font-size:16px;
  height:42px;
  font-weight: bold;
}
.searchButton:hover {
  background-color: #393f4f;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.searchButton:focus {
  border: 2px solid #ffffff;
}

.lower {
  position:absolute;
  bottom:20px;
}
.bottom {
  position:absolute;
  bottom:0;
}

.searchResult {
  margin-top:20px;
  background-color:#ffffff;
}
.searchResult::before {
  content: 'Search results:';
}
h3 {
  color:#393f4f!important;
  margin-left: 68px;
}
#searchTable {
  width:90%;
  margin:0 auto;
}
#searchTable * {
  padding:10px;
}
#searchTable td {
  border: 1px solid #393f4f!important;
  color:#393f4f;
}
#searchTable th {
  background-color: #393f4f;
  color: #ffffff!important;
}
#searchTable tr td:nth-child(4){
  text-align: center;
}
button.resultsButton {
  background-color:#ff8d00;
  color:#ffffff!important;
  font-weight:bold;
  border:1px solid #ff8d00;
  padding: 10px 30px!important;
}
.resultsButton:hover {
  background-color:#ffa332;
}
