html {
    background: #E0E0E0;
}
body {
    width: 500px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}

select, option {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #E0E0E0;
}

select {
    background: #00a99d;
}

option {
    background: #4a4a49;
}

h1 {
    color: #4a4a49;
}
