div{
    background-color: bisque;
    margin-bottom: 15px;
}

.nav{
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.nav ul{
    list-style: none;
    padding: 0;
}

.nav li{
    display: inline-block;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
}