#eventCountry {
  margin-left: 47px!important;
}
#eventCity {
  margin-left: 75px!important;
}
#eventDate {
  margin-left: 71px!important;
}
#eventName {
  margin-left: 20px!important;
}
#eventURL {
  margin-left: 10px!important;
}
input.addformSubmit {
  margin: 20px 20px 20px 103px;
  background-color: #393f4f;
  color:#ffffff;
  padding:10px;
  border:1px solid #393f4f;
  font-size:18px;
}
input.addformSubmit:hover {
  background-color: #ffffff;
  color:#32bd32;
  padding:10px;
  border:1px solid #32bd32;
}
