.searchResult {
  margin-top:20px;
  background-color:#ffffff;
}
.searchResult::before {
  content: 'Search results:';
}
h3 {
  color:#393f4f!important;
  margin-left: 68px;
}
#searchTable {
  width:90%;
  margin:0 auto;
}
#searchTable {
  * {
    padding:10px;
  }
}
#searchTable {
  td {
    border: 1px solid #393f4f!important;
    color:#393f4f;
  }
}
#searchTable {
  th {
    background-color: #393f4f;
    color: #ffffff!important;
  }
}
#searchTable {
    tr {
      td:nth-child(4) {
      text-align: center;
    }
  }
}

button.resultsButton {
  background-color:#ff8d00;
  color:#ffffff!important;
  font-weight:bold;
  border:1px solid #ff8d00;
  padding: 10px 30px!important;
}
.resultsButton:hover {
  background-color:#ffa332;
}
