body {
  font-family: 'Poppins', sans-serif!important;
  color: #393f4f;
}
nav.bar {
  background-color: #393f4f ;
  padding-bottom:20px;
  margin-bottom: 20px;
}
.headline {
  font-size: 32px;
  font-weight:bold;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  padding-bottom:20px;
  padding-top:20px;

}
.search {
  // width:100%;
  display:inline-flex;
  color: #c0c0c0;
  margin: 20px 35px 20px 105px;
  padding:0;
}
.search {
    input {
      height:42px;
      width:150px;
    }
}
.search {
  * {
    margin-left: 10px;
  }
}
.search {
    label {
    font-size:18px;
  }
}
.searchby {
  font-weight:bold;
  font-size:18px;
  color:#ffffff;
}
.field {
  border-right:none;
  border-left:none;
  border-top:none;
  box-shadow: inset 0px 0px 0px 0px red;
}
label[for="date"] {
  padding-left:40px;
}
.add {
  background-color: #32bd32;
    color: #393f4f;
    border: 1px solid #393f4f;
    font-size:16px;
    width:150px;
    padding: 10px 6px;
    border-radius: 0%;
    font-weight: bold;
    margin-left: 40px;
}
.add:hover {
  background-color: #393f4f;
   color: #32bd32;
   border: 1px solid #32bd32;
}
.searchButton {
  background-color: #ffffff;
    color: #393f4f;
    border: 1px solid #393f4f;
    font-size:16px;
    padding:10px 30px;
    border-radius: 0%;
}
.searchButton:hover {
  background-color: #c0c0c0;
   color: #393f4f;
   border: 1px solid #393f4f;
}
.searchButton {
  margin-right: 0;
  margin-left: 30px;
  background-color: #ffffff;
  color: #393f4f;
  border: 2px solid #ffffff;
  font-size:16px;
  height:42px;
  font-weight: bold;
}
.searchButton:hover {
  background-color: #393f4f;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.searchButton:focus {
  border: 2px solid #ffffff;
}
